*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.header-img{
    width: auto;
    height: 100%;
    background-image: url('images/Background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nav{
    padding: 6% 10%;
}

.nav img{
    display: none;
}

.nav h3{
    font-size: 2vw;
}

.active{
    font-weight: bold;
}

.nav p{
    margin: 0 2.8%;
    font-size: 1.1vw;
}

.content{
    padding: 5% 10%;
}

.content h1{
    font-style: normal;
    font-weight: normal;
    font-size: 4.6vw;
}

.content h4{
    font-size: 1.5vw;
    margin-top: 1.8%;
}

.content h6{
    font-size: 1vw;
    margin-top: 7%;
    margin-bottom: 15%;
    text-decoration: underline;
}

.about-block{
    width: 100%;
}

.about-block{
    padding: 7% 11%;
}

.about-block h4{
    margin-bottom: 9%;
    font-size: 2vw;
}

.about-block p{
    font-size: 1.3vw;
}

.skills-block{
    background-color: #FFFAF2;
    padding: 7% 11%;
}

.skills-block h4{
    margin-bottom: 12%;
    font-size: 2vw;
}

.d-block h5{
    margin-left: 15%;
    font-size: 1.3vw;
    line-height: 2vw;
}

.d-block p{
    margin-bottom: 3%;
    font-size: 1vw;
}

.progress{
    width: 92%;
    height: 8%;
    background-color: #F5D6AB;
    margin-bottom: 3%;
}

.progress-bar{
    height: 100%;
    background-color: #C66C49;
}

.portfolio-block{
    padding: 7% 11%;
}

.d-block{
    width:45%;
}

.portfolio-block h4{
    margin-bottom: 32%;
    font-size: 2vw;
}

.portfolio-block h6{
    margin-bottom: 16%;
    font-size: 1.3vw;
}

.portfolio-block p{
    width: 85%;
    font-size: 1vw;
}

.arrow-left{
    margin-top: 28%;
    margin-left: 11.7%;
}

.arrow-right{
    margin-top: 28%;
    margin-left: 1%;
}

.images-wrapper-left{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-left: 10%;
}

.left-top{
    margin-top: 19%;
}

.left-bottom{
    margin-top: 3%;
}

.images-wrapper-right{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.right-top{
    margin-top: 10.4%;
    margin-left: 5%;
}

.right-bottom{
    margin-top: 3%;
    margin-left: 5%;
}

.footer{
    padding: 7% 11%;
    background-color: #FFFAF2;
}

.footer h4{
    margin-bottom: 5.5%;
}

.flex-block{
    width: 30%;
}

.flex-block img{
    margin-top: 75%;
}

@media screen and (max-width: 386px){
    .nav{
        padding: 0;
    }
    .nav p{
        display: none;
    }
    .nav img{
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-top: 39px;
        margin-left: 34px;
    }
    .nav h3{
        font-size: 24px;
        margin-top: 36px;
        margin-left: 84px;
    }
    .content{
        padding: 0;
    }
    .content h1{
        font-size: 20px;
        margin-top: 5px;
        margin-left: 94px
    }
    .content h4{
        font-size: 13px;
        margin-top: 0px;
        margin-left: 110px
    }
    .content h6{
        font-size: 13px;
        margin: 0px;
        margin-left: 155px
    }
}